@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap%27');

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

// body{
//   width: 100%;
//   height: 100%;
//   margin: 0px;
//   padding: 0px;
//   overflow-x: hidden; 
//   background-image: url('../assets /background-login.webp');
//   background-size: cover;                      /* <------ */
//   background-repeat: no-repeat;
//   background-position: center center; 
// }
.App {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  background-image: url('../assets /background-login.webp');
  // background-image: url('../assets /dashb.webp');

  background-size: auto;
  /* <------ */
  background-repeat: no-repeat;
  background-position: center center; 
}


.loginContainer{
  display: flex;
  justify-content: center;
}

.loginContainer div {
  margin-bottom: 10px;
}
.loginContainer form {
  margin-top: 25%;
  width:300px;
  text-align: center;
}

.loginContainer form div {
  font-weight: bolder;
  font-size: 20px;
}

.loginContainer form p a {
  font-size: 12px;

}

.SignUp {
  background-color: white;
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  background-image: url('../assets /dashb.webp');
  background-size: cover;                      /* <------ */
  
  background-position: center center; 
}

.expenseHeader {
  text-shadow: 3px 2px #dec6dd;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 30px;
  color: rgb(0, 0, 0);
  margin-bottom: 15px; 
}
.expenseContent {
  display: flex;
}

.signUpContainer{
  display: flex;
  justify-content: center;
  
}
.signUpContainer form {
  margin-top: 22%;
  text-align: center;
}

.signUpContainer form img {
  width:120px; 
}
.signUpContainer form input {
  width:350px; 
}

.NewExpenseContainer {
  margin-left: 10px;
  background-color: rgb(178,216,241,0.6);
  width:18%;
  height:50vh;
   line-height: 1.5em;
  border: 1mm solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}

.NewExpenseContainer form  {
font-family: 'Poppins', sans-serif;
text-align: center;
display: flex;
flex-direction: column;
color: rgb(4, 1, 13)
}
.NewExpenseContainer h4  {
  text-shadow: 3px 2px #dec6dd;
  color: rgb(4, 1, 13)
  }
  
.indvExpense {
  display: flex;
  border: 1px solid ;
}
