@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap%27');

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

// body{
//   width: 100%;
//   height: 100%;
//   margin: 0px;
//   padding: 0px;
//   overflow-x: hidden; 
//   background-image: url('../assets /background-login.webp');
//   background-size: cover;                      /* <------ */
//   background-repeat: no-repeat;
//   background-position: center center; 
// }
.App {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  background-image: url('../assets /background-login.webp');
  background-size: cover;                      /* <------ */

  // background-image: url('../assets /dashb.webp');
  /* <------ */
  background-repeat: no-repeat;
  background-position: center center; 
}


.loginContainer{
  display: flex;
  justify-content: center;
}

.loginContainer div {
  margin-bottom: 10px;
}
.loginContainer form {
  margin-top: 25%;
  width:300px;
  text-align: center;
}

.loginContainer form div {
  font-weight: bolder;
  font-size: 20px;
}

.loginContainer form p a {
  font-size: 12px;

}

.SignUp {
  background-color: white;
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  background-image: url('../assets /dashb.webp');
  background-size: cover;                      /* <------ */
  
  background-position: center center; 
}
.mainContainer div {
  margin-left: 15px; 
}
.expenseHeader {
  // text-shadow: 3px 6px #060606;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 30px;
  color: rgb(0, 0, 0);
  margin-bottom: 15px; 
}
.expenseContent {
  display: flex;
}

.signUpContainer{
  display: flex;
  justify-content: center;
  
}
.signUpContainer form {
  margin-top: 22%;
  text-align: center;
}

.signUpContainer form img {
  width:120px; 
}
.signUpContainer form input {
  width:350px; 
}

.NewExpenseContainer {
  text-align: center;
  margin-left: 10px;
  width:18%;
  height:50vh;
   line-height: 1.5em;
  border: 1mm solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  background-color: white;
  box-shadow: 5px 3px grey;
}

.NewExpenseContainer form  {
font-family: 'Poppins', sans-serif;
text-align: center;
display: flex;
flex-direction: column;
color: rgb(4, 1, 13)
}
.NewExpenseContainer h4  {
  // text-shadow: 1px 3.5px #060606;
  color: rgb(24,118,209)
  }
  
.indvExpense {
  display: flex;
  // text-shadow: 1px 1px #ff8d8d;
  border: 1mm solid black;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 10px;

}

.indvExpense span {
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 22px;
  margin-left: 10px; 

}

.indvExpense button {
  background: none;
  border: none; 
 
  cursor: pointer;
}
 
.indvExpense button:hover {
  border : 1mm solid rgba(255, 2, 2, 0.6);
  border-radius: 20px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middleContent{
  margin-right: 200px;;
}
.budgetContainer {
  margin-bottom: 75px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  // position: absolute;
  left: 75%;
  border: none;
  width:80%;
  height:25vh;
  padding: 15px;
  border: 1mm solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  background-color: white;
  box-shadow: 5px 3px grey;
  // text-align: center;
}


.budgetContainer span {
  font-size: 20px;
  color: rgba(0, 0, 0);
}


// .expenseContent {
//   display: flex;
//   flex-direction: column;
// }

.currencyConverter {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: none;
  padding: none;
  justify-content: 'center';
  margin-bottom: 50px;
  border: 1mm solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  background-color: white;
  box-shadow: 5px 3px grey; 
  width:80%;
  height:35vh;
  padding: 10px;
}

// .currencyConverter input {
//   width:60px; 
// }


.currencyConverter span {
  font-size: 16px;
  color: rgba(0, 0, 0);
}